{% extends 'layout.html' %}

{% block main %}
<section id="resources">
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <div class="section-title">
                    <h2>About Me</h2>
                    <p>Let's get to know a little about me</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <pre class="text-white">
                    This is
                    comming
                    soon ...

                    The content is being worked upon now
                </pre>
            </div>
        </div>
    </div>
</section>

{% endblock main %}