/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --theme-primary: #00013e;
    --theme-primary-light: #64638c;
    --theme-accent: #6844e6;
}

body {
  font-family: "Bitter", sans-serif;
  background-color: #f9fafc;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--theme-primary);
  font-family: "Bitter", sans-serif;
}

.btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: #fff;
    background-color: var(--theme-primary);
    transition: all ease-in 0.5s;
}
.btn:hover {
    background-color: var(--theme-accent);
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: var(--theme-primary);
  overflow-y: auto;
}

#sidebar .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid var(--theme-primary-light);
}

#sidebar .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align-last: center;
}

#sidebar .profile h1 a, #sidebar .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#sidebar .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  background: var(--theme-primary-light);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

#sidebar .profile .social-links a:hover {
  background: var(--theme-accent);
  color: #fff;
  text-decoration: none;
}


#sidebar .nav-menu {
    padding-top: 50px;
}

#sidebar .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar .nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 16px;
}

#sidebar .nav-menu a i {
  font-size: 15px;
  padding-right: 8px;
  color: #6f7180;
}

#sidebar .nav-menu a:hover,
#sidebar .nav-menu .active > a,
#sidebar .nav-menu li:hover > a {
    color: #fff;
}

#sidebar .nav-menu a:hover i,
#sidebar .nav-menu .active > a i,
#sidebar .nav-menu li:hover > a i {
  color: var(--theme-accent);
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #sidebar {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }

  #sidebar.active {
    left: 0;
  }
}


/* Small Screen Navigation */
.nav-menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: var(--theme-accent);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0.6rem;
  overflow: hidden;
  min-height: 100vh;
}

.section-title h2 {
  font-size: 34px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  color: var(--theme-primary);
}

.section-title p {
  color: #828282;
  margin-bottom: 2rem;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#home {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#home video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#home .container {
  position: relative;
  z-index: 2;
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#home .container h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

#home .container p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
}

#home .container p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--theme-accent);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*--------------------------------------------------------------
# Resource
--------------------------------------------------------------*/

#resources .card {
  background: #fff;
  border-left: 3px solid var(--theme-accent);
}

#resources .card-body h5 > a {
    font-size: 16px;
    color: var(--theme-primary);
}

#resources .card-body p {
    font-size: 14px;
    color: var(--theme-primary-light);
}


/*--------------------------------------------------------------
# Post List
--------------------------------------------------------------*/
.post-title {
    font-size: 28px;
    color: var(--theme-primary);
}

.post-content {
    font-weight: 400 !important;
    color: rgba(37,38,94,0.7);
    font-family: Lora;
    font-size: 1.1rem;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
  font-family: Lora, "Times New Roman", serif;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}