{% extends 'admin/layout.html' %}

{% block body %}
<div class="row mt-3">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Read Time</th>
                    <th>Views</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in object_list %}
                <tr>
                    <td>{{ instance.id }}</td>
                    <td>{{ instance.title[:100] }}</td>
                    <td>{{ instance.read_time }} mins</td>
                    <td>{{ instance.views }}</td>
                    <td>{{ instance.created_on.strftime('%B %d, %Y at %H:%M:%S') }}</td>
                    <td>
                        {% if instance.updated_on %}
                        {{ instance.created_on.strftime('%B %d, %Y') }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('admin_post_update_view', pk=instance.id) }}" class="mr-2">
                            <i class="fa fa-edit text-primary"></i>
                        </a>
                        <a href="{{ url_for('admin_post_delete_view', pk=instance.id) }}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between">
            {{ pagination.info }}
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock body %}