{% extends 'admin/layout.html' %}

{% block body %}


<div class="row">
    <div class="col">
        <h2>{{title}} Post</h2>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="row mb-3">
                <div class="col-sm-12 col-md-8 col-lg-9">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    {{ form.read_time.label(class="form-control-label") }}
                    {% if form.read_time.errors %}
                    {{ form.read_time(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.read_time.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.read_time(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    {{ form.image_url.label(class="form-control-label") }}
                    {% if form.image_url.errors %}
                    {{ form.image_url(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.image_url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.image_url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    <textarea class="form-control form-control-lg is-invalid" name="content" rows="5"></textarea>
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <textarea class="form-control form-control-lg" name="content" rows="5"></textarea>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
