<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Abhinav Kumar</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!--  Google fonts  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">

    <!--  Custom CSS Files  -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>
<body>

<!-- ======= nav menu toggle button ======= -->
<button type="button" class="nav-menu-toggle d-xl-none">
    <i class="bx bx-menu"></i>
</button>

<!-- ======= Sidebar ======= -->
<div id="sidebar">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt=""
                 class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Abhinav Kumar</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/abhinavkumar127" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/abhin1592" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://github.com/abhi1510" target="_blank"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/abhinav-kumar-4a0148143/" target="_blank"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
        </div><!-- .profile -->

        <nav class="nav-menu">
            <ul>
                <li class="active"><a href="#home"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#projects"><i class="bx bx-book-content"></i> Projects</a></li>
                <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</div><!-- End Sidebar -->

<!-- ======= Main ======= -->
<div id="main">

    <section id="home">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static', filename='TypingVidevo.mov') }}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1>Abhinav Kumar</h1>
                    <!--                    <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>-->
                    <p>I'm <span class="typed"
                                 data-typed-items="Backend Developer, Frontend Developer, Full Stack Developer, Team Lead"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h2>About Me</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quos?</p>
                    </div>
                </div>
            </div>
        </div>
        <pre>
            This
            is comming
            soon
            The
            content is being worked upon now
        </pre>
    </section>

    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title">
                        <h2>Resume</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quos?</p>
                    </div>
                </div>
            </div>
        </div>
        <pre>
            This
            is comming
            soon
            The
            content is being worked upon now
        </pre>
    </section>

    <section id="projects">
        <div class="container">

            <div class="section-title">
                <h2>Projects</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quos?</p>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card shadow-sm">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/01-thumbnail.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card shadow-sm">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/02-thumbnail.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card shadow-sm">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/portfolio/03-thumbnail.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-title text-white">
                        <h2>Contact Me</h2>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quos?</p>
                    </div>
                </div>
            </div>

            <form id="contactForm" name="sentMessage" novalidate="novalidate">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control form-control-lg" id="name" type="text" placeholder="Your Name *"
                                   required="required" data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" id="email" type="email"
                                   placeholder="Your Email *"
                                   required="required"
                                   data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group mb-md-0">
                            <input class="form-control form-control-lg" id="phone" type="tel" placeholder="Your Phone *"
                                   required="required"
                                   data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-textarea mb-md-0" style="height: 100%">
                            <textarea class="form-control form-control-lg" id="message" placeholder="Your Message *"
                                      required="required"
                                      data-validation-required-message="Please enter a message."
                                      style="height: 100%"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div id="success"></div>
                    <button class="btn btn-primary btn-lg" id="sendMessageButton" type="submit">
                        Send Message
                    </button>
                </div>
            </form>

        </div>
    </section>

</div><!-- End Main -->

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/typed.js/typed.min.js') }}"></script>


<!--  Custom JS Files  -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>