<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Abhinav Kumar</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!--  Google fonts  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bitter:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lora:300,300i,400,400i,500,500i,600,600i,700,700i">


    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--  Custom CSS Files  -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

</head>
<body>

<!-- ======= nav menu toggle button ======= -->
<button type="button" class="nav-menu-toggle d-xl-none">
    <i class="fa fa-bars"></i>
</button>

<!-- ======= Sidebar ======= -->
<div id="sidebar">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt=""
                 class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Abhinav Kumar</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/abhinavkumar127" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/abhin1592" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/abhi1510" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/abhinav-kumar-4a0148143/" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
            </div>
        </div><!-- .profile -->

        <nav class="nav-menu">
            <ul>
                <li class="{% if active_page == 'home' %}active{% endif %}">
                    <a href="{{ url_for('index_view') }}"><i class="fa fa-home" style="font-size: 18px"></i> Home</a>
                </li>
                <li  class="{% if active_page == 'blog' %}active{% endif %}">
                    <a href="{{ url_for('post_list_view') }}"><i class="fa fa-keyboard-o"></i>Blog</a>
                </li>
                <li  class="{% if active_page == 'resources' %}active{% endif %}">
                    <a href="{{ url_for('resources_view') }}"><i class="fa fa-book"></i>Resources</a>
                </li>
                <li  class="{% if active_page == 'about' %}active{% endif %}">
                    <a href="{{ url_for('about_view') }}"><i class="fa fa-user"></i> About</a>
                </li>
                <li  class="{% if active_page == 'contact' %}active{% endif %}">
                    <a href="{{ url_for('contact_view') }}"><i class="fa fa-envelope"></i> Contact</a>
                </li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</div><!-- End Sidebar -->


<!-- ======= Main ======= -->
<div id="main">

{% block main %}{% endblock main %}

</div><!-- End Main -->

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/typed.js/typed.js') }}"></script>


<!--  Custom JS Files  -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>