{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h3>Post Detail Page</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="display-4">{{ instance.title }}</div>
            <img src="{{ instance.image_url }}" alt="" height="200px">
            <p>
                <small>Created by: {{ instance.author }}</small>
                <br>
                <small>Read time: {{ instance.read_time }} mins</small>
                <br>
                <small>Created on: {{ instance.created_on }}</small>
                <br>
                <small>Updated on: {{ instance.updated_on }}</small>
                <br>
                <small>Total Views: {{ instance.views }}</small>
            </p>
            <p>{{ instance.content }}</p>
        </div>
    </div>
</div>
{% endblock body %}

