{% extends 'layout.html' %}

{% set active_page = 'resources' %}

{% block main %}
<section id="resources">
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <div class="section-title">
                    <h2>Resources</h2>
                    <p>Welcome to my resources page. It is where I keep awesome stuffs.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for resource in object_list %}
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="card m-2 shadow-sm">
                    <div class="card-body pb-0 pt-2">
                        <small>{{ resource.category }}</small>
                        <h5><a href="{{ resource.link }}">{{ resource.name }}</a></h5>
                        <p>{{ resource.description }}<br></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="d-flex justify-content-center">
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}


